# ========================
# Python
# ========================
backend/config.py
backend/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.bak
.env

# ========================
# Node / Frontend
# ========================
package-lock.json
node_modules/
frontend/node_modules/
frontend/.cache/
frontend/build/

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
*.log
